/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--black);
}
h4 {
    font-size: 14px;
    margin-left: 15px;
    color: var(--icon-colour);
    margin-bottom: 10px;
}

hr {
    height: 1px;
    background-color: var(--grey);
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.category .material-icons {
    color: var(--icon-colour);
}

:root {
    --grey: #e5e5e5;
    --slightly-darker-grey: #ddd;
    --grey-dark: #e5e5e5d2;
    --background-grey: #f9f9f9;
    --icon-colour: rgb(96, 96, 96);
    --black: rgb(3, 3, 3);
    --trending-icon-background: rgb(64,64,64);
    --trending-blue: rgb(6,95,212);
    --youtube-red: rgb(204,0,0);
    --view-replies: rgb(6,95,212);
}
/* Global */

/* Menu Bar */
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.menu-bar .logo {
    display: flex;
    align-items: center;
}

.menu-bar .logo img {
    width: 100px;
    margin-left: 15px;
    cursor: pointer;
}

.menu-bar i {
    padding: 0px 7px;
    cursor: pointer;
}


.menu-bar .search form {
    border: 1px solid var(--slightly-darker-grey);
    height: 35px;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.menu-bar .search input {
    width: 500px;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
    border-radius: 0px;
    border: none;
    height: 100%;
    outline-color: blue;
}


.menu-bar .search button {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: none;
    border-radius: 0px;
}
/* Menu Bar */

/* Main Body */
.main-body {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
}

.categories {
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}

.main-body .categories .categories-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.main-body .categories .categories-section .category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.main-body .categories .categories-section .category .active {
    color: red;
}

.main-body .categories .categories-section .category span {
    margin-left: 15px;
}
.active-span {
    background: var(--grey-dark);
}

.main-body .categories .categories-section .category:hover {
    background: var(--grey);
    cursor: pointer;
}

.videos {
    background: var(--background-grey);
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    border-top: 1px solid var(--slightly-darker-grey);
    overflow-y: scroll;
    
}

.videos .videos-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.videos .videos-grid .video {
    width: calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 30px;
    
}

.videos .videos-grid .video .thumbnail {
    width: 100%;
    height: 170px;
}

.videos .videos-grid .video .thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.details {
    display: flex;
    margin-top: 10px;
}

.details .title {
    display: flex;
    flex-direction: column;
    
}

.details .title h3 {
    color: var(--black);
    font-size: 14px;
}

.details .title a, span {
    text-decoration: none;
    color: var(--icon-colour);
    font-size: 14px;
}
/* Main Body */

#main-section {
    width: 100%;
}

/* Sub Menu */
#sub-menu {
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 2px solid var(--grey-dark);
}

.trending-link {
    text-decoration: none;
    margin-left: 80px;
}

.trending-link:first-child {
    margin-left: 20px;
}

.trending-icon-container .material-icons {
    font-size: 3rem;
    color: white;
}

.trending-icon-container {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trending-icon-background);
    
}
/* Sub Menu */

/* Trending Videos */
#trending-videos {
    width: 100%;
    height: 100%;
    padding: 20px 0px 0px 10px;
    overflow-y: scroll;
}

.trending-video {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 30px;
    display: flex;
    cursor: pointer;
}

.trending-thumbnail {
    display: inline-block;
    width: 260px;
    height: 140px;
}

.trending-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.trending-video-text {
    display: inline-block;
    height: 140px;
    width: 50%;
    margin-left: 10px;
}

.trending-video-text h2 {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 400;
}

.trending-video-text p {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--icon-colour);
}

.trending-video-text p {
    margin-bottom: 5px;
}
/* Trending Videos */

/* Video page */
.main-video-body {
    height: calc(100vh - 70px);
    display: flex;
    overflow: scroll;
}

#video-main-section {
    height: 100%;
    width: 67%;
    /* background-color: red; */
}

#video {
    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    height: 80%;
}

#main-video-info {
    padding: 20px;
    padding-top: 0px;
}

#main-video-info a {
    text-decoration: none;
    color: var(--trending-blue);
    font-size: 0.8rem;
}

#main-video-info h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

#video-info {
    display: flex;
    justify-content: space-between;
    color: rgb(96,96,96);
    padding-bottom: 15px;
    border-bottom: 2px solid var(--grey-dark);
}

#video-info span {
    display: flex;
    align-items: center;
}

#video-info span i {
    margin: 0px 10px;
}

#up-next {
    width: 33%;
}

#up-next p {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

#up-next p span {
    display: flex;
    align-items: center;
}

#up-next p span i {
    font-size: 2.8rem;
    margin: 0px 5px;
    cursor: pointer;
}

.dont-show {
    display: none;
}

#toggle_on {
    color: var(--trending-blue);
}

#autoplay-video-section {
    display: flex;
    flex-direction: column;
}

.autoplay-video {
    display: flex;
    padding-bottom: 10px;
}

.autoplay-video:first-child {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey-dark);
    margin-bottom: 20px;
}

.autoplay-video-container {
    width: 168px;
    height: 94px;
}

.autoplay-video-container img{
    width: 100%;
    height: 100%;
}

.autoplay-video-info {
    padding-left: 10px;
}

.autoplay-video-info h4 {
    margin: 0px;
    margin-bottom: 2px;
    color: var(--trending-icon-background);
}

.words span {
    font-size: 0.8rem;
    font-weight: 400;
}

#channel-info {
    display: flex;
    padding: 20px;
    width: 95%;
    margin: 0px auto;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--grey-dark);
    margin-bottom: 20px;
}

#channel-dp {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

#channel-dp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#video-channel-info {
    width: 70%;
}

#video-channel-info h4 {
    margin: 0px;
    color: black;
}

#video-channel-info p {
    font-size: 0.8rem;
}

#video-channel-info a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--icon-colour);
}

#subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105.5px;
    height: 37px;
    background-color: var(--youtube-red);
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

#comments {
    margin-left: 20px;
}

#comments-info {
    display: flex;
    align-items: center;
}

#comments-info p, #comments-info h4, #comments-info i {
    display: inline-block;
    margin: 0px;
}

#comments-info p {
    margin-right: 30px;
}

#comments-info i {
    color: var(--icon-colour);
    margin-right: 10px;
}

#comment-and-dp {
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 20px;
}

#comment-and-dp i {
    font-size: 3.5rem;
}

#comment-and-dp input {
    border: 0px;
    font-size: 0.9rem;
    padding-top: 8px;
    padding-left: 8px;
    font-weight: 300;
    width: 90%;
    border-bottom: 2px solid var(--grey-dark);
}

#cancel-and-comment-buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#cancel-comment, #comment-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.53px;
    height: 37px;
    color: var(--trending-icon-background);
    font-weight: bold;
}

#comment-comment {
    background-color: rgb(204,204,204);
    color: white;
    border-radius: 3px;
}

.general-comment {
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
}

.general-comment > i {
    font-size: 3.5rem;
    padding-right: 10px;
}

.general-user-comment-info p {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.general-user-comment-info p:first-child {
    font-weight: 600;
}

.comment-rating {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.comment-rating i {
    margin: 0px 5px;
    font-size: 0.9rem;
}

.general-user-comment-info p:last-child {
    display: flex;
    align-items: center;
    color: var(--view-replies);
    font-weight: bold;
}
/* Video page */